/* Global Styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f1ef;
  color: #fff;
}

/* Header */
.top-bar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  max-height: 40px;
  width: auto;
  width: 280px;
}

/* Layout */
.landing-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #b35f36;
  padding: 4rem 2rem;
  align-items: center;
  justify-content: center;
}

/* Text */
.text-content {
  flex: 1 1 400px;
  max-width: 600px;
  padding: 1rem;
}

.text-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.subtext {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #f9f9f9;
}

/* Button */
.cta-button {
  display: inline-block;
  background-color: #fcd34d;
  color: #000;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #fbbf24;
}

/* Image */
.image-content {
  flex: 1 1 400px;
  max-width: 600px;
  padding: 1rem;
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
